.one{
    color:crimson;
    font-family:'Courier New';
    font-size: xx-large;
    text-align: center;

}
body{
    background: linear-gradient(to top, #6600cc 40%, #ffffff 60%);
}
.two
{   font-weight: bold;
    font-family: 'Lucida Sans';
    font-size: larger;
    color:black;
    padding: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
